.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  color: lightgrey;
  padding: .5rem;

  .counterCart {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    background-color: #86e769;
    color: #000000;
    font-weight: 600;
    bottom: .2rem;
    right: 1rem;
    border-radius: 20%;
    padding: .5rem;

    @media (min-width: 768px) {
      display: none;
    }
  }

  /* responsive desktop */
  @media (min-width: 768px) {



    max-width: 1024px;
    margin: 0 auto;

    .iconCart, .iconBarOpen, .iconClose {
      display: none;
    }

    .navigator {
      position: initial;
      min-height: auto;
      background-color: white;

      border-right: none;
      backdrop-filter: initial;

      
    }

    ul {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-self: end;
      gap: 1.5rem;
      
      a {
        
        color: #3f3f3f;
        
        &:hover {
          color: #495e57;
          background-color: transparent;
          border-radius: 0;
        }
        
      }

      a.login {
        background-color: #2b4b3c;
        border-radius: .4rem;
        color: whitesmoke;

        &:hover {
          background-color: #3c6451;
        }
      }
      
    }
    svg, path {
      display: none;
    }
  }

}

.navigator {
  position: fixed;
  z-index: 1;
  left: -100dvw;
  top: 0;

  width: 80dvw;
  min-height: 100dvh;
  
  transition: transform .2s ease;
  background-color: #f0f0f0e0;

  /* box-shadow: 10px 0 10px #c9c9c9; */
  border-right: 1px solid rgb(235, 235, 235);
  backdrop-filter: blur(11px);

}

ul {
  list-style: none;
  padding-left: .1rem;

  display: flex;
  flex-direction: column;

  label {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
  }


  a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #3f3f3f;
    padding: 1rem;

    
    &:hover {
      background-color: #495e57;
      color: #f0f0f0e0;
      border-bottom: 0;
      border-radius: 2rem;
      
      
      .iconHome {
        stroke: white;
        filter: brightness(100%);
      }
    }
  }
}

/* styles icons menu bar */
.iconClose {
  padding: .3rem .5rem;
}

.iconBarOpen, .iconClose {
  cursor: pointer;
}

/* section mark toogle */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .navigator {
  transform:translateX(100dvw)
}