form {
  display: grid;
  grid-template-rows: auto;
  gap: .5rem;
  border-radius: .2rem;
  padding: 1rem;


  input {
    width: 100%;
    padding: .8rem;
    border-radius: .2rem;
    border: none;
    font-weight: 800;
    color: #1a2e25;
    border: 1px solid #b2c2bb;
  }

  label {
    color: #2b4b3c;
    font-weight: 800;
  }
}